<div class="categories">
    <h2>Budgets</h2>
    <div class="dialog edit_budget" v-if="edit_budget" @click="exit_edit">
        <div class="innerdialog" ref="edit_dialog">
            <input class="budget" type="text" ref="edit_focus"
                   v-model="edit_budget.name" placeholder="budget">
            <input class="amount" type="text"
                   v-model="edit_budget.amount" placeholder="amount">
            <button class="add" @click="confirm_add">add</button>
        </div>
    </div>
    <div class="form">
        <div class="category" v-for="category in categories">
            <div class="name">{{ category.name }}</div>
            <div class="amount">${{ category.amount.toFixed(2) }}</div>
            <div class="spending">${{ category.total_spending.toFixed(2) }}</div>
        </div>
    </div>
    <div class="actions">
        <button @click="add">add category</button>
    </div>
    <vue-chart
        type="doughnut"
        :data="budget_data"
        :options="{backgroundColor: ['#ff0000', '#0000ff', '#00ff88']}"
    />
</div>