<div class="categories">
    <div class="dialog edit_budget" v-if="edit_budget" @click="exit_edit">
        <div class="innerdialog" ref="edit_dialog">
            <input class="budget" type="text" ref="edit_focus"
                   v-model="edit_budget.name" placeholder="budget">
            <input class="amount" type="text"
                   v-model="edit_budget.amount" placeholder="amount">
            <button class="add" @click="confirm_add">add</button>
        </div>
    </div>
    <div class="form">
        <div class="category" v-for="category in categories">
            <div class="toprow">
                <div class="name">{{ category.name }}</div>
            </div>
            <div class="bottomrow">
                <div class="amount">${{ category.amount.toFixed(2) }}</div>
                <div>-</div>
                <div class="spending">${{ category.total_spending.toFixed(2) }}</div>
            </div>
        </div>
    </div>
    <div class="actions">
        <button @click="add">add category</button>
    </div>
</div>