<div class="reciept">
    <h2>Spending</h2>
    <div class="inputs" v-if="is_this_period">
        <span class="amount">
            <span class="dollar">$</span>
            <input class="amount" type="number" min="0" step="any"
               v-model="amount" />
        </span>
        <select v-model="budget_categoryid">
            <option value="" disabled hidden>Budget</option>
            <option v-for="budget in budgets" :value="budget.id">
                {{ budget.name }}
            </option>
        </select>
        <input class="description" type="text" size="1"
               v-model="description" placeholder="Description" />
        <input type="number" v-model="day_of_month"
               placeholder="Day of Month">
        <button class="add" @click="add">add!</button>
    </div>
    <div class="history">
        <div class="day" v-for="g in groupedSpending">
            <div class="time">
                <div class="ago">{{ time(g.day) }}</div>
                <div class="date">{{ ordinal(g.day) }}</div>
            </div>
            <div class="entry" v-for="s in g.spending">
                <div class="amount">${{ s.amount }}</div>
                <div class="budget">
                    {{ budgets.filter(x => x.id === s.budget_categoryid)[0].name }}
                </div>
                <div class="description">{{ s.description }}</div>
            </div>
        </div>
    </div>
    <span class="daysLoaded">
        <button v-if="!all_loaded" @click="load(10)">load more</button>
        <div v-else>that's all</div>
    </span>
</div>
