<html>
    <head>
        <script src="https://unpkg.com/vue@2.2.1"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.min.js"></script>
        <script src="https://cdn.rawgit.com/kyleperik/7db540178c088fe725ef3399766e126d/raw/880a39ab9e04ffbd02e272f95475570ae0100c0d/vue_utils.js"></script>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Lobster|Quicksand|Titillium+Web" rel="stylesheet">
	
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    </head>
    <body>
        <div class="wrapper">
            <categories :categories="categories">
        </div>
        <script src="{{ url_for('static', filename=jsfilename) }}"></script>
    </body>
</html>

